﻿@model SMS.Models.SetupViewModel.SetupBookCategoryViewModel
<div class="modal-dialog" style="margin-left:35%;">
    <div class="modal-content" style="width:500px !important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addBookCategory">
                <strong> Add New Book Category </strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "SetupBookCategory", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Category Name</label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @placeholder = "Category Name" })
                        </div>
                    </div>
                </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
            }
        </div>
    </div>
</div>
