﻿


@model SMS.Models.SetupViewModel.SetupPaymentForLibraryViewModel



<div class="modal-dialog" style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editSetupPaymentForLibrary">
                <strong>Update Payment For Library</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "SetupPaymentForLibrary", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PaymentForLibraryId)



                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Class</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClassId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Faculty</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.FacultyId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FacultyId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Library Name<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.LibraryName, htmlAttributes: new { @class = "form-control", @placeholder = "Library Name", @id = "libraryname", @name = "libraryname" })
                            @Html.ValidationMessageFor(model => model.LibraryName)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Library Fee<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.LibraryFee, htmlAttributes: new { @class = "form-control", @placeholder = "Library Fee", @id = "libraryfee", @name = "libraryfee" })
                            @Html.ValidationMessageFor(model => model.LibraryFee)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>
