﻿

@model SMS.Models.SetupViewModel.SetupPaymentForLibraryViewModel

@{
    ViewBag.Title = "Class Setuppaymentforlibrary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i=1;
}


<link href="~/Content/skins/flat/green.css" rel="stylesheet" />

@if (TempData["validationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationError"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}



<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                     Payment For Library
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-setuppaymentforlibrary','Create','SetupPaymentForLibrary')" class="btn btn-primary" />
<div class="clearfix"></div>
<div class="table table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">S.N. </th>
                <th class="column-title">LibraryName </th>
                <th class="column-title">ClassName </th>
                <th class="column-title">FacultyName </th>
                <th class="column-title">LibraryFee </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr" style="width:110px">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SetupPaymentForLibraryViewModelList)
            {

                <tr class="even pointer">
                    <td>@i</td>
                    <td>@item.LibraryName</td>
                    <td>@item.ClassName</td>
                    <td>@item.FacultyName</td>
                    <td>@item.LibraryFee</td>
                    <td>@item.Status</td>
                    <td style="width:110px">
                        <button class="btn btn-primary" onclick="update(@item.PaymentForLibraryId,'#update-setuppaymentforlibrary','Edit','SetupPaymentForLibrary')"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" onclick="deleteRow(@item.PaymentForLibraryId,'@item.LibraryName','Delete','SetupPaymentForLibrary')"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
                i++;
            }
            
        </tbody>
    </table>
</div>

<div class="modal fade" id="add-setuppaymentforlibrary" tabindex="-1" role="dialog" aria-labelledby="addSetupPaymentForLibrary">
    @{Html.RenderAction("Create", "SetupPaymentForLibrary");}
</div>

<div class="modal fade" id="update-setuppaymentforlibrary" tabindex="-1" role="dialog" aria-labelledby="editSetupPaymentForLibrary">
    @{Html.RenderAction("Edit", "SetupPaymentForLibrary");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>

