﻿@model SMS.Models.SetupViewModel.SetupServiceViewModel
@{
    Layout = null;
}

<div class="modal-dialog"style="margin-left:35%;">
    <div class="modal-content"style="width:500px !important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addService">
                <strong>Add New Service</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "SetupService", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.ServiceId)

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Service Name<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                          @Html.TextBoxFor(model => model.ServiceName, new { @class = "form-control", @placeholder = "Service Name" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Service Order<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.ServiceOrder, new { @class = "form-control", @placeholder = "Service Name" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>




