﻿@model SMS.Models.SetupViewModel.SetupServiceViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}
<link href="~/Content/skins/flat/green.css" rel="stylesheet" />
@if (TempData["validationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationError"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}
<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                 Service List
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-service', 'Create', 'SetupService')" class="btn btn-primary" />
<div class="clearfix"></div>

<table class="table table-responsive table-striped jambo_table bulk_action">
    <thead>
        <tr class="headings">
            <th><input type="checkbox" class="flat" name="table_records"></th>
            <th class="column-title"> S.N.</th>
            <th class="column-title">Service Name </th>
            <th class="column-title">Service Order </th>
            <th class="column-title">Status </th>
            <th class="column-title no-link last">
                <span class="nobr" style="width:110px">Action</span>
            </th>
            <th class="bulk-actions" colspan="7">
                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.SetupServiceViewModelList)
            {
            <tr class="even pointer">
                <td class="a-center ">
                    <input type="checkbox" class="flat" name="table_records">
                </td>
                <td>@i</td>
                <td>@item.ServiceName</td>
                <td>@item.ServiceOrder</td>
                <td>@item.Status</td>
                <td style="width:110px">
                    <button class="btn btn-primary" onclick="update(@item.ServiceId,'#update-service','Edit','SetupService')"><span class="fa fa-edit"></span></button>

                    <button class="btn btn-danger" onclick="deleteRow(@item.ServiceId,'@item.ServiceName','Delete','SetupService')"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>


<div class="modal fade" id="add-service" tabindex="-1" role="dialog" aria-labelledby="addService">
    @{Html.RenderAction("Create", "SetupService");}
</div>

<div class="modal fade" id="update-service" tabindex="-1" role="dialog" aria-labelledby="editService">
    @{Html.RenderAction("Edit", "SetupService");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>