﻿@model SMS.Models.SetupViewModel.SetupFacultyViewModel
@{
    int i = 1;
}
<div id="facultiListId">


    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th><input type="checkbox" class="flat" name="table_records"></th>
                <th class="column-title">S.N.</th>
                <th class="column-title">Class Name </th>
                <th class="column-title">Faculty Name </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr" style="width:110px">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SetupFacultyViewModelList)
            {
                <tr class="even pointer">
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td>@i</td>
                    <td>@item.ClassName</td>
                    <td>@item.FacultyName</td>
                    <td>@item.Status</td>
                    <td style="width:110px">
                        <button class="btn btn-primary" onclick="update(@item.FacultyId,'#update-faculty','Edit','SetupFaculty')"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" onclick="deleteRow(@item.FacultyId,'@item.FacultyName','Delete','SetupFaculty','_GetFacultyList','#faultList')"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>

</div>

