﻿@model SMS.Models.SetupViewModel.SetupFacultyViewModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form id="setupFaculty">
    <div class="modal-dialog" style="width:500px !important ; margin-left: auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="addFaculty">
                    <strong> Add New Faculty</strong>
                </h4>
            </div>
            <div class="modal-body" id="facultyCreate">

                @*@using (Ajax.BeginForm("Create", "SetupFaculty", new AjaxOptions() { UpdateTargetId = "ajaxform" }))
                    {*@
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Class</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClassId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Faculty Name<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.FacultyName, htmlAttributes: new { @class = "form-control", @placeholder = "Faculty Name", @id = "facultyname", @name = "facultyname" })
                            @Html.ValidationMessageFor(model => model.FacultyName)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-primary" value="Save" onclick="postData('#setupFaculty', '#add-faculty', 'Create', 'SetupFaculty', '#faultList', '_GetFacultyList')" />
                </div>

                @* } *@
            </div>
        </div>
    </div>
</form>