﻿@{
    ViewBag.Title = "Faculty List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<script src="~/Scripts/jquery-2.1.0.min.js"></script>

<link href="~/Content/skins/flat/green.css" rel="stylesheet" />

<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Faculty List
                </h1>
            </div>
            <div id="form_errors"></div>
        </div>
    </div>
</div>

<div class="form-gr">
    <div class="col-sm-6">
        <input type="button" value="Add New" onclick="addNew('#add-faculty', 'Create', 'SetupFaculty')" class="btn btn-primary" />
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="faultyNameId" onclick="search($('#faultyNameId').val(), '#faultList', '_GetFacultyList', 'SetupFaculty');" />
    </div>
</div>
<div class="clearfix"></div>
<div class="table table-responsive">
    <div id="faultList"></div>
</div>

<div class="modal fade" id="add-faculty" tabindex="-1" role="dialog" aria-labelledby="addFaculty">
    @{Html.RenderAction("Create", "SetupFaculty");}
</div>

<div class="modal fade" id="update-faculty" tabindex="-1" role="dialog" aria-labelledby="editfaculty">
    @{Html.RenderAction("Edit", "SetupFaculty");}
</div>
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>

<script>
    $(document).ready(function (e) {
        search($('#faultyNameId').val(), '#faultList', '_GetFacultyList', 'SetupFaculty');
    });
</script>

