﻿@model SMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/css/multipleDropDownlist.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.0.min.js"></script>
<script src="~/Scripts/multipleDropDownList.js"></script>


<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Create new Register
                </h1>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">

        @Html.LabelFor(m => m.UserId, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.UserId, SMS.Utilities.CommonUtilities.GetStaffList(), new { @id = "userId", @class = "form-control col-sm-6" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
        <div class="form-group">

            @foreach (var item in Model.UserRoleList)
            {
                <ul>
                    <li>
                        <input type="checkbox" name="roles" value="@item.RoleName" />
                        <label>@item.RoleName</label>
                    </li>
                </ul>
            }

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
}

<script>
    $("#userId").select2();
    //$("#checkbox").click(function () {
    //    if ($("#checkbox").is(':checked')) {
    //        $("#userId > option").prop("selected", "selected");
    //        $("#userId").trigger("change");
    //    } else {
    //        $("#userId > option").removeAttr("selected");
    //        $("#userId").trigger("change");
    //    }
    //});
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
