﻿
@model SMS.Models.SetupViewModel.SetupPaymentForActivityViewModel
@{
    Layout = null;
}

<div class="modal-dialog"style="margin-left:35%;">
    <div class="modal-content" style="width:500px!important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editPaymentForActivity">
                Update Setup Payment For Activity
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "SetupPaymentForActivity", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.PaymentForActivitiesId)

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>
                                Activity Name<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.ActivitiesName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>
                                Class Name
                            </label>
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(),new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>
                                Faculty Name
                            </label>
                            @Html.DropDownListFor(model => model.FacultyId, SMS.Utilities.CommonUtilities.GetFacultyList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Status
                            </label>
                            @Html.CheckBoxFor(model=>model.Status)
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>


