﻿@model SMS.Models.LibraryViewModel.SetupBookViewModel
<div class="modal-dialog" style="margin-left:35%;">
    <div class="modal-content" style="width:500px !important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addBook">
                <strong> Add New Book </strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "SetupBook", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Category Name</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.BookCategoryId, SMS.Utilities.CommonUtilities.GetBookCategoryList());
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Book Name</label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.BookName, new { @class = "form-control", @placeholder = "Book Name" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Author Name</label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.AuthorName, new { @class = "form-control", @placeholder = "Author Name" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Publisher </label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Publisher, new { @class = "form-control", @placeholder = "Publisher " })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Volume </label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Volume, new { @class = "form-control", @placeholder = "Volume " })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Edition </label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Edition, new { @class = "form-control", @placeholder = "Edition " })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
            }
        </div>
    </div>
</div>


