﻿@model SMS.Models.SetupViewModel.SetupSectionViewModel
@{
    Layout = null;
}

<div class="modal-dialog" style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editSection">
                <strong>Update Section</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "SetupSection", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SectionId)

               

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Class</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ClassId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Section<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.SectionName, htmlAttributes: new { @class = "form-control", @placeholder = "Section Name", @id = "sectionname", @name = "sectionname" })
                            @Html.ValidationMessageFor(model => model.SectionName)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Status</label></div>
                        <div class="col-xs-12">
                            @Html.CheckBoxFor(model => model.Status)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>


