﻿@model SMS.Models.StudentInfoViewModel.StudentClassInfoViewModel

<div class="modal-dialog" style="width:650px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addStudentClassInfo">
                <strong>Student Class Info</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "StudentClassInfo", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Class</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control", @id="classId" })
                            @Html.ValidationMessageFor(model => model.ClassId)
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Section</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.SectionId, SMS.Utilities.CommonUtilities.GetSectionList(), "Select Section", new { @class = "form-control" , @id="sectionId"})
                            @Html.ValidationMessageFor(model => model.SectionId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Student</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control",@id="studentId" })
                            @Html.ValidationMessageFor(model => model.StudentId)
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Block</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.BlockId, SMS.Utilities.CommonUtilities.GetBlockList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BlockId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Faculty</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.FacultyId, SMS.Utilities.CommonUtilities.GetFacultyList(), new { @class = "form-control",@id="facultyId" })
                            @Html.ValidationMessageFor(model => model.FacultyId)
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Roll NO.<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.RollNo, htmlAttributes: new { @class = "form-control", @placeholder = "Roll No.", @id = "rollno", @name = "rollno" })
                            @Html.ValidationMessageFor(model => model.RollNo)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    $("#classId").change(function () {
        debugger;
        var id = this.value;
        if (id == "") {
            id = "0";
        }
        $.get('/CommonAjaxRequest/GetFaculties/' + id,
              function (data) {
                  $('#facultyId').find('option').remove()
                  $(data).each(
                      function (index, item) {
                          $('#facultyId').append('<option value="' + item.Value + '">' + item.Text + '</option>')
                      });
              }
    );
    });


    $("#classId").change(function () {
        var id = this.value;
        if (id == "") {
            id = "0";
        }
        $.get('/CommonAjaxRequest/GetSections/' + id,
              function (data) {
                  $('#sectionId').find('option').remove()
                  $(data).each(
                      function (index, item) {
                          $('#sectionId').append('<option value="' + item.Value + '">' + item.Text + '</option>')
                      });
              }
    );
    });

</script>