﻿@model SMS.Models.StudentInfoViewModel.StudentClassInfoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}


<link href="~/Content/skins/flat/green.css" rel="stylesheet" />

@if (TempData["validationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationError"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}


<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Student Class Info List
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-rollNo', 'Create', 'StudentClassInfo')" class="btn btn-primary" />
<div class="clearfix"></div>

<table class="table table-responsive table-striped jambo_table bulk_action">
    <thead>
        <tr class="headings">
            <th><input type="checkbox" class="flat" name="table_records"></th>
            <th class="column-title"> S.N. </th>
            <th class="column-title"> Student Name</th>
            <th class="column-title"> Class</th>
            <th class="column-title"> Section</th>
            <th class="column-title"> Block</th>
            <th class="column-title"> Faculty</th>
            <th class="column-title"> Roll No.</th>
            <th class="column-title">Status</th>
            <th class="column-title no-link last">
                <span class="nobr" style="width:110px">Action</span>
            </th>
            <th class="bulk-actions" colspan="7">
                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.StudentClassInfoViewModelList)
            {
              <tr class="even pointer">
                  <td class="a-center ">
                      <input type="checkbox" class="flat" name="table_records">
                  </td>
                  <td>@i</td>
                  <td>@item.StudentName</td>
                  <td>@item.ClassName</td>
                  <td>@item.SectionName</td>
                  <td>@item.BlockName</td>
                  <td>@item.FacultyName</td>
                  <td>@item.RollNo</td>
                  <td>@item.Status</td>
                  <td style="width:110px">
                      <button class="btn btn-primary" onclick="update(@item.StudentClassId,'#update-rollNo','Edit','StudentClassInfo')"><span class="fa fa-edit"></span></button>

                      <button class="btn btn-danger" onclick="deleteRow(@item.StudentClassId,'@item.RollNo','Delete','StudentClassInfo')"><span class="fa fa-trash"></span></button>

                  </td>
              </tr>
            i++;
        }
    </tbody>
</table>

<div class="modal fade" id="add-rollNo" tabindex="-1" role="dialog" aria-labelledby="addStudentClassInfo">
    @{Html.RenderAction("Create", "StudentClassInfo");}
</div>

<div class="modal fade" id="update-rollNo" tabindex="-1" role="dialog" aria-labelledby="updateStudentClassInfo">
    @{Html.RenderAction("Edit", "StudentClassInfo");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>