﻿@model SMS.Models.SetupViewModel.SetupSubjectViewModel

@{
    ViewBag.Title = "Subject List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
<link href="~/Content/skins/flat/green.css" rel="stylesheet" />
@if (TempData["validationErro"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationErro"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}
<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Setup Subject
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-subject','Create','SetupSubject')" class="btn btn-primary" />
<div class="clearfix"></div>
<div class="table table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
               
                <th class="column-title">Subject Name </th>
               <th class="column-title">Is Optional </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr" style="width:110px">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SetupSubjectViewModelList)
            {
                <tr class="even pointer">

                    <td>@item.SubjectName</td>
                    <td>@item.IsOptional</td>
                    <td>@item.Status</td>
                    <td style="width:110px">
                        <button class="btn btn-primary" onclick="update(@item.SubjectId,'#update-subject','Edit','SetupSubject')"><span class="fa fa-edit"></span></button>


                        <button class="btn btn-danger" onclick="deleteRow(@item.SubjectId,'@item.SubjectName','Delete','SetupSubject')"><span class="fa fa-trash"></span></button>
                    </td>
                   
                </tr>

            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="add-subject" tabindex="-1" role="dialog" aria-labelledby="addblock">
    @{Html.RenderAction("Create", "SetupSubject");}
</div>

<div class="modal fade" id="update-subject" tabindex="-1" role="dialog" aria-labelledby="editSubject">
    @{Html.RenderAction("Edit", "SetupSubject");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>
