﻿@model SMS.Models.StaffInfoViewModel.StaffInfoViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editStaff">
                Update Staff Information
            </h4>
        </div>

        <div class="modal-body">
            @using (Html.BeginForm("Edit", "StaffInfo", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>First Name<span style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="col-sm-3">
                            <label>Middle Name</label>
                            @Html.TextBoxFor(model => model.MidName, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            <label>Last Name<span style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        <div class="col-sm-3">
                            <label>Service Name<span style="color:red">*</span></label>
                            @Html.DropDownListFor(model => model.ServiceId, SMS.Utilities.CommonUtilities.GetServiceList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ServiceId)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>Department Name<span style="color:red">*</span></label>
                            @Html.DropDownListFor(model => model.DepartmentId, SMS.Utilities.CommonUtilities.GetDepartmentList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DepartmentId)
                        </div>
                        <div class="col-sm-3">
                            <label>Post Name<span style="color:red">*</span></label>
                            @Html.DropDownListFor(model => model.PostId, SMS.Utilities.CommonUtilities.GetPostList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PostId)
                        </div>
                        <div class="col-sm-3">
                            <label>Occupation<span style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.Occupation, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Occupation)
                        </div>
                        <div class="col-sm-3">
                            <label>Gender<span style="color:red">*</span></label>
                            @Html.DropDownListFor(model => model.Gender, SMS.Utilities.CommonUtilities.GetGenderList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>BloodGroup</label>
                            @Html.TextBoxFor(model => model.BloodGroup, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            <label>EmailId</label>
                            @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                        </div>

                        <div class="col-sm-3">
                            <label>Mobile No.</label>
                            @Html.TextBoxFor(model => model.CellNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CellNumber)
                        </div>

                        <div class="col-sm-3">
                            <label>Residance No.</label>
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>Citizenship No.</label>
                            @Html.TextBoxFor(model => model.CitizenNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <fieldset>
                    <legend>Permanent Address</legend>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>State<span style="color:red">*</span></label>
                                @Html.TextBoxFor(model => model.PState, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PState)

                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label>District<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(model => model.PDistrict, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PDistrict)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label>Metropolitan</label>
                                    @Html.TextBoxFor(model => model.PMetropolitan, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    <label>Sub-Metropolitan</label>
                                    @Html.TextBoxFor(model => model.PSubMetropolitan, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Municipality</label>
                                @Html.TextBoxFor(model => model.PMunicipality, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>GauPalika</label>
                                @Html.TextBoxFor(model => model.PGauPalika, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>Ward No.</label>
                                @Html.TextBoxFor(model => model.PWardNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PWardNo)
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Temporary Address</legend>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>State</label>
                                @Html.TextBoxFor(model => model.TState, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label> District </label>
                                @Html.TextBoxFor(model => model.TDistrict, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label> Metropolitan</label>
                                @Html.TextBoxFor(model => model.TMetropolitan, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>Sub-Metropolitan</label>
                                @Html.TextBoxFor(model => model.TSubMetropolitan, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Municipality</label>
                                @Html.TextBoxFor(model => model.TMunicipality, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>GauPalika</label>
                                @Html.TextBoxFor(model => model.TGauPalika, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>Ward No.</label>
                                @Html.TextBoxFor(model => model.TWardNo, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>

    </div>
</div>
