﻿
@model SMS.Models.SetupViewModel.ClassSubjectViewModel
<div class="modal-dialog" style="width:500px !important">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addClassSubject">
                Add Class Subject
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "ClassSubject", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>
                                Class Name<span style="color:red">*</span>
                            </label>
                           @Html.DropDownListFor(model=>model.ClassId,SMS.Utilities.CommonUtilities.GetClassList(),new { @class = "form-control" })
                        </div>
                       
                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        @foreach (var item in Model.SetupSubjectViewModelList)
                        {
                            
                            <div class="col-sm-6">
                                <input type="checkbox" name="subjectList" value="@item.SubjectId" />
                                <label>
                                    @item.SubjectName
                                </label>
                            </div>
                        }
                        

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>