﻿


@model SMS.Models.SetupViewModel.ClassSubjectViewModel
<div class="modal-dialog" style="width:700px !important">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editClassSubject">
                Update Class Subject
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "ClassSubject", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model=>model.ClassSubjectId)
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>
                                Class Name<span style="color:red">*</span>
                            </label>
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4">
                            <label>
                                Subject Name<span style="color:red">*</span>
                            </label>
                            @Html.DropDownListFor(model => model.SubjectId, SMS.Utilities.CommonUtilities.GetSubjectList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>
