﻿@model SMS.Models.SetupViewModel.ClassSubjectViewModel

@{
    ViewBag.Title = "ClassSubject List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<link href="~/Content/skins/flat/green.css" rel="stylesheet" />

@if (TempData["validationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationError"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}


<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    ClassSubject List
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-classsubject','Create','ClassSubject')" class="btn btn-primary" />
<div class="clearfix"></div>
<div class="table table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">S.N </th>
                <th class="column-title">Class Name </th>
                <th class="column-title">Subject Name </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ClassSubjectViewModelList)
            {
                <tr class="even pointer">
                    <td>@i</td>
                    <td>@item.ClassName</td>
                    <td>@item.SubjectName</td>
                    <td>@item.Status</td>
                    <td>
                        <button class="btn btn-primary" onclick="update(@item.ClassSubjectId,'#update-classsubject','Edit','ClassSubject')"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" onclick="deleteRow(@item.ClassSubjectId,'@item.ClassName','Delete','ClassSubject')"><span class="fa fa-trash"></span></button>
                    </td>

                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="add-classsubject" tabindex="-1" role="dialog" aria-labelledby="addClassSubject">
    @{Html.RenderAction("Create", "ClassSubject");}
</div>

<div class="modal fade" id="update-classsubject" tabindex="-1" role="dialog" aria-labelledby="editClassSubject">
    @{Html.RenderAction("Edit", "ClassSubject");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>

