﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS | </title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/css/nprogress.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <!-- Form-Wizard -->
    <link href="~/Content/css/form-wizard.css" rel="stylesheet" />
  

</head>
<body class="nav-md">


    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>SMS</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.Name</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-gear"></i>Common Master Setup <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Class Setup", "Index", "SetupClass")</li>
                                        <li>@Html.ActionLink("Faculty Setup", "Index", "SetupFaculty")</li>
                                        <li>@Html.ActionLink("Subject Setup", "Index", "SetupSubject")</li>
                                        <li>@Html.ActionLink("Section Setup", "Index", "SetupSection")</li>
                                        <li>@Html.ActionLink("Block Setup", "Index", "SetupBlock")</li>
                                        <li>@Html.ActionLink("Service Setup", "Index", "SetupService")</li>
                                        <li>@Html.ActionLink("Post Setup", "Index", "SetupPost")</li>
                                        <li>@Html.ActionLink("Department Setup", "Index", "SetupDepartment")</li>
                                        <li>@Html.ActionLink("Subject Setup", "Index", "ClassSubject")</li>
                                        <li>@Html.ActionLink("Terminal Exam Setup", "Index", "SetupTerminalExam")</li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-calculator"></i> Account Setups <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Payment Setup - Class Fee", "Index", "SetupPaymentForClass")</li>
                                        <li>@Html.ActionLink("Payment Setup - Library Fee", "Index", "SetupPaymentForLibrary")</li>
                                        <li>@Html.ActionLink("Payment Setup - Hostel Fee", "Index", "SetupPaymentForHostel")</li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-calculator"></i> Library Setups <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Book Setup", "Index", "SetupBook")</li>
                                        <li>@Html.ActionLink("Book Category Setup", "Index", "SetupBookCategory")</li>
                                        @*<li>@Html.ActionLink("Payment Setup - Hostel Fee", "Index", "SetupPaymentForHostel")</li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i>Students and Others<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Student Registration", "StudentRegister", "StudentInfo")</li>
                                        <li>@Html.ActionLink("Student Information", "Index", "StudentInfo")</li>
                                        <li>@Html.ActionLink("Student Class Information", "Index", "StudentClassInfo")</li>
                                        <li>@Html.ActionLink("Student Subject information", "Index", "StudentSubjectDetails")</li>
                                        <li>@Html.ActionLink("Parent Information", "Index", "ParentInfo")</li>
                                        <li>@Html.ActionLink("Guardian Information", "Index", "GuardianInfo")</li>
                                        <li>@Html.ActionLink("Student Fee Details", "Index", "StudentFeeDetails")</li>
                                        <li>@Html.ActionLink(" Student MarkSheet", "Index", "MarkSheet")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i>Staff<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Staff Information", "Index", "StaffInfo")</li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-users"></i>User Account<span class="fa fa-users"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("New User", "Register", "Account")</li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">@User.Identity.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li id="logout">

                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                                <i class="ace-icon fa fa-power-off"></i>
                                                Log Out
                                            </a>

                                        }

                                        @*<a href="#"><i class="fa fa-sign-out pull-right"></i>

                                            Log Out

                                            </a>*@

                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>@User.Identity.Name</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>@User.Identity.Name</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>@User.Identity.Name</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>@User.Identity.Name</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                               
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="pull-right">
                    <span class="fa fa-copyright"></span> SoftBit Technology.
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.0.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Scripts/nprogress.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/customSMS.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <!-- validator -->
    <script src="~/Scripts/validator/validator.js"></script>
    <!-- Form-Wizard -->
    <script src="~/Scripts/formwizard.js"></script>
    <script src="~/Scripts/multipleDropDownList.js"></script>

</body>
</html>
