﻿@model SMS.Models.StudentInfoViewModel.StudentInfoViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addstudentinfo">
                Add New Student
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "StudentInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()




                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Student Code<span style="color:red">*</span></label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.StudentCode, htmlAttributes: new { @class = "form-control", @placeholder = "Student Code", @id = "studentcode", @name = "studentcode" })
                                    @Html.ValidationMessageFor(model => model.StudentCode)
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Class</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ClassId, htmlAttributes: new { @class = "form-control", @placeholder = "Student Code", @id = "studentcode", @name = "studentcode" })
                                        @Html.ValidationMessageFor(model => model.ClassId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Faculty</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.FacultyId, htmlAttributes: new { @class = "form-control", @placeholder = "Student Code", @id = "studentcode", @name = "studentcode" })
                                        @Html.ValidationMessageFor(model => model.FacultyId)
                                    </div>
                                </div>
                            </div>*@
                        <div class="clearfix"></div>

                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>First Name<span style="color:red">*</span></label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "First Name", @id = "firstname", @name = "firstname" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Middle Name</label>(optional)</div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.MidName, htmlAttributes: new { @class = "form-control", @placeholder = "Middle Name" })
                                    @Html.ValidationMessageFor(model => model.MidName)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Last Name<span style="color:red">*</span></label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Last Name", @id = "lastname", @name = "lastname" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Date of Birth</label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.DateOfBirth, htmlAttributes: new { @class = "form-control", @placeholder = "DOB", @type = "date" })
                                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Gender</label></div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @Html.DropDownListFor(model => model.Gender, SMS.Utilities.CommonUtilities.GetGenderList(), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Email<span style="color:red">*</span></label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.EmailId, htmlAttributes: new { @class = "form-control", @placeholder = "Email Address", type = "email", @id = "email", @name = "email" })
                                    @Html.ValidationMessageFor(model => model.EmailId)
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Student Type</label></div>
                                <div class="col-xs-12">
                                    @Html.DropDownListFor(model => model.StudentType, SMS.Utilities.CommonUtilities.GetStudentType(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StudentType)

                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Religion</label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.Religion, htmlAttributes: new { @class = "form-control", @placeholder = "Religion", @id = "religion", @name = "religion" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Contact No<span style="color:red">*</span></label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.CellNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Mobile", @id = "contact", @name = "contact", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.CellNumber)
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Blood Group</label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.BloodGroup, htmlAttributes: new { @class = "form-control", @placeholder = "Blood Group", @id = "bloodgroup", @name = "bloodgroup" })
                                    @Html.ValidationMessageFor(model => model.BloodGroup)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Reference</label></div>
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(model => model.Reference, htmlAttributes: new { @class = "form-control", @placeholder = "Reference", @id = "bloodgroup", @name = "bloodgroup" })
                                    @Html.ValidationMessageFor(model => model.Reference)
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Choose File</label></div>
                                <input type="file" name="file" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsTransportation)<b>Is Transportation</b></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsNew)<b>Is New</b></label>
                                    </div>
                                </div>
                            </div>

                        <div class="clearfix"></div>
                        <fieldset>
                            <legend><b>Permanent Address</b></legend>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>State<span style="color:red">*</span></label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PState, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent State", @id = "pstate", @name = "pstate" })
                                        @Html.ValidationMessageFor(model => model.PState)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>District<span style="color:red">*</span></label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PDistrict, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent District", @id = "pdistrict", @name = "pdistrict" })
                                        @Html.ValidationMessageFor(model => model.PDistrict)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Metropolitan</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Metropolitan", @id = "pmetropolitan", @name = "pmetropolitan" })
                                        @Html.ValidationMessageFor(model => model.PMetropolitan)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Sub-metropolitan</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PSubMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Sub-Meteropolitan", @id = "psub-metropolitan", @name = "psub-metropolitan" })
                                        @Html.ValidationMessageFor(model => model.PSubMetropolitan)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Municipality</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PMunicipality, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Municipality", @id = "pmunicipality", @name = "pmunicipality" })
                                        @Html.ValidationMessageFor(model => model.PMunicipality)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Gaupalika</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PGauPalika, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Gaupalika", @id = "pgaupalika", @name = "pgaupalika" })
                                        @Html.ValidationMessageFor(model => model.PGauPalika)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Ward No.</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PWardNo, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent WardNo", @id = "pwardno", @name = "pwardno" })
                                        @Html.ValidationMessageFor(model => model.PWardNo)
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><b>Temporary Address</b></legend>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>State<span style="color:red">*</span></label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TState, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary State", @id = "pstate", @name = "pstate" })
                                        @Html.ValidationMessageFor(model => model.TState)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>District<span style="color:red">*</span></label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TDistrict, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary District", @id = "pdistrict", @name = "pdistrict" })
                                        @Html.ValidationMessageFor(model => model.TDistrict)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Metropolitan</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Metropolitan", @id = "pmetropolitan", @name = "pmetropolitan" })
                                        @Html.ValidationMessageFor(model => model.TMetropolitan)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Sub-metropolitan</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TSubMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Sub-Meteropolitan", @id = "psub-metropolitan", @name = "psub-metropolitan" })
                                        @Html.ValidationMessageFor(model => model.TSubMetropolitan)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Municipality</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TMunicipality, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Municipality", @id = "pmunicipality", @name = "pmunicipality" })
                                        @Html.ValidationMessageFor(model => model.TMunicipality)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Gaupalika</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TGauPalika, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Gaupalika", @id = "pgaupalika", @name = "pgaupalika" })
                                        @Html.ValidationMessageFor(model => model.TGauPalika)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Ward No.</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.TWardNo, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary WardNo", @id = "pwardno", @name = "pwardno" })
                                        @Html.ValidationMessageFor(model => model.TWardNo)
                                    </div>
                                </div>
                            </div>
                        </fieldset>





                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><b>Select Class</b></div>
                                <div class="col-xs-12">
                                    @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), "Select Class", htmlAttributes: new { @id = "classId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 form-group">
                            <div class="row">
                                <div class="col-xs-12"><label>Select Faculty</label></div>
                                <div class="col-xs-12">
                                    @Html.DropDownListFor(model => model.FacultyId, SMS.Utilities.CommonUtilities.GetFacultyList(), "Select Faculty", htmlAttributes: new { @id = "facultyId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                                            <div class="col-xs-12 col-sm-4 form-group">
                                                <div class="row">
                                                    <div class="col-xs-12"><label>Enrollment Date</label></div>
                                                    <div class="col-xs-12">
                                                        @Html.TextBoxFor(model => model.EnrolledDate, htmlAttributes: new { @class = "form-control", @placeholder = "Enrolled Date", @type = "date" })
                                                        @Html.ValidationMessageFor(model => model.EnrolledDate)
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="clearfix"></div>


                                    @*</div>
                                </div>
                            @*</div>*@




                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>

                    </div>

                </div>
            }
        </div>
    </div>


</div>


