﻿@model SMS.Models.StudentInfoViewModel.StudentInfoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}


<link href="~/Content/skins/flat/green.css" rel="stylesheet" />

@if (TempData["validationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationError"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}


<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Student List
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-Student', 'Create', 'StudentInfo')" class="btn btn-primary" />
<div class="clearfix"></div>

    <table class="table table-responsive table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th>
                    <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">S.N. </th>
                <th class="column-title">StudentCode </th>
                <th class="column-title">Name </th>
                <th class="column-title">Address </th>
                <th class="column-title">DOB </th>
                <th class="column-title">EmailId </th>
                <th class="column-title">Mobile No </th>
                <th class="column-title">Gender </th>
                <th class="column-title">Image </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
          @foreach (var item in Model.StudentInfoViewModelList)
          {
            <tr class="even pointer">
                <td class="a-center ">
                    <input type="checkbox" class="flat" name="table_records">
                </td>
                <td>@i</td>
                <td>@item.StudentCode</td>
                <td>@item.FirstName @item.MidName @item.LastName</td>
                <td>@item.TState @item.TDistrict @item.TMetropolitan @item.TSubMetropolitan @item.TMunicipality @item.TGauPalika @item.TWardNo</td>
                <td>@item.DateOfBirth</td>
                <td>@item.EmailId</td>
                <td>@item.CellNumber</td>
                <td>@item.Gender</td>  
                <td>
                    <img src="@item.ImagePath" height="100" width="100" />
                </td>
                <td>@item.Status</td> 
                <td>
                    <button class="btn btn-primary" onclick="update(@item.StudentId,'#update-Student','Edit','StudentInfo')"><span class="fa fa-edit"></span></button>

                    <button class="btn btn-danger" onclick="deleteRow(@item.StudentId,'@item.FirstName','Delete','StudentInfo')"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
              i++;
          }
        </tbody>
    </table>

<div class="modal fade" id="add-Student" tabindex="-1" role="dialog" aria-labelledby="addstudentinfo">
    @{Html.RenderAction("Create", "StudentInfo");}
</div>

<div class="modal fade" id="update-Student" tabindex="-1" role="dialog" aria-labelledby="editstudentinfo">
    @{Html.RenderAction("Edit", "StudentInfo");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>
