﻿@*@model SMS.Models.StudentInfoViewModel.StudentInfoViewModel
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            @*<div class="panel-heading">
                    <h4>Add Student's Information</h4>
                </div>
            <div class="panel-body">
                <div class="col-xs-12">

                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>First name</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "First Name", @id = "firstname", @name = "firstname" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.FirstName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Middle name</label>(optional)</div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.MidName, htmlAttributes: new { @class = "form-control", @placeholder = "Middle Name" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Last name</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Last Name", @id = "lastname", @name = "lastname" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.LastName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Gender</label></div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                @Html.DropDownListFor(model => model.ObjParentInfoViewModel.Gender, SMS.Utilities.CommonUtilities.GetGenderList(), htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Email</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.EmailId, htmlAttributes: new { @class = "form-control", @placeholder = "Email Address", type = "email", @id = "email", @name = "email" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.EmailId)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Contact No</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.CellNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Mobile", @id = "contact", @name = "contact", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.CellNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Residence No</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PhoneNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Residence Number", @id = "residence", @name = "residence", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PhoneNumber)
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Blood Group</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.BloodGroup, htmlAttributes: new { @class = "form-control", @placeholder = "Blood Group", @id = "bloodgroup", @name = "bloodgroup" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.BloodGroup)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Occupation</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.Occupation, htmlAttributes: new { @class = "form-control", @placeholder = "Occupation", @id = "occupation", @name = "occupation" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.Occupation)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Citizenship No.</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.ObjParentInfoViewModel.CitizenNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Citizenship Number", @id = "citizenshipnumber", @name = "citizenshipnumber" })
                                        @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.CitizenNumber)
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <fieldset>
                                <legend><b>Permanent Address</b></legend>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>State</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PState, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent State", @id = "pstate", @name = "pstate" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PState)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>District</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PDistrict, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent District", @id = "pdistrict", @name = "pdistrict" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PDistrict)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Metropolitan</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Metropolitan", @id = "pmetropolitan", @name = "pmetropolitan" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PMetropolitan)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Sub-metropolitan</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PSubMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Sub-Meteropolitan", @id = "psub-metropolitan", @name = "psub-metropolitan" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PSubMetropolitan)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Municipality</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PMunicipality, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Municipality", @id = "pmunicipality", @name = "pmunicipality" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PMunicipality)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Gaupalika</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PGauPalika, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Gaupalika", @id = "pgaupalika", @name = "pgaupalika" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PGauPalika)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Ward No.</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.PWardNo, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent WardNo", @id = "pwardno", @name = "pwardno" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.PWardNo)
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend><b>Temporary Address</b></legend>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>State</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TState, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary State", @id = "pstate", @name = "pstate" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TState)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>District</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TDistrict, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary District", @id = "pdistrict", @name = "pdistrict" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TDistrict)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Metropolitan</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Metropolitan", @id = "pmetropolitan", @name = "pmetropolitan" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TMetropolitan)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Sub-metropolitan</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TSubMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Sub-Meteropolitan", @id = "psub-metropolitan", @name = "psub-metropolitan" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TSubMetropolitan)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Municipality</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TMunicipality, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Municipality", @id = "pmunicipality", @name = "pmunicipality" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TMunicipality)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Gaupalika</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TGauPalika, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Gaupalika", @id = "pgaupalika", @name = "pgaupalika" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TGauPalika)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Ward No.</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjParentInfoViewModel.TWardNo, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary WardNo", @id = "pwardno", @name = "pwardno" })
                                            @Html.ValidationMessageFor(model => model.ObjParentInfoViewModel.TWardNo)
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
