﻿
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Student Registration">
                                <span class="round-tab">

                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Parent Registration">
                                <span class="round-tab">

                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Guardian Registration">
                                <span class="round-tab">

                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                @using (Html.BeginForm("InitStudentCreate", "StudentInfo", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div class="initform">
                                    @{Html.RenderAction("InitStudentCreate", "StudentInfo");}
                                </div>

                                @*<ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary next-step">Next</button></li>
                                </ul>
                            </div>*@

                            @*<div class="tab-pane" role="tabpanel" id="step2">
                                <div class="initform">
                                    @{Html.RenderAction("InitParentCreate", "StudentInfo");}
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Next</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <div class="initform">
                                    @{Html.RenderAction("InitGuardianCreate", "StudentInfo");}
                                </div>*@
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="submit" class="btn btn-primary btn-info-full next-step">Finish</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                Complete
                            </div>
                        </div>
                    </form>
                                    }
            </div>
        </section>
    </div>
</div>




