﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewBag.Title = "Dashboard";
}


<div style="color:red"><center><i class="fa fa-6 fa-thumbs-down"><h1>Dashboard Under Construction</h1></i></center></div>