﻿@model SMS.Models.GuardianInfoViewModel.GuardianInfoViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addGuardian">
                Add Guardian Information
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "GuardianInfo", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-xs-12">

                        <div class="clearfix"></div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Student Name</label></div>
                                        <div class="col-xs-12">
                                            @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>First Name</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "First Name", @id = "firstname", @name = "firstname" })
                                            @Html.ValidationMessageFor(model => model.FirstName)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Middle Name</label>(optional)</div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.MidName, htmlAttributes: new { @class = "form-control", @placeholder = "Middle Name" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Last Name</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Last Name", @id = "lastname", @name = "lastname" })
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Gender</label></div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    @Html.DropDownListFor(model => model.Gender, SMS.Utilities.CommonUtilities.GetGenderList(), htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>EmailId</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.EmailId, htmlAttributes: new { @class = "form-control", @placeholder = "Email Address", type = "email", @id = "email", @name = "email" })
                                            @Html.ValidationMessageFor(model => model.EmailId)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Contact No</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.CellNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Mobile", @id = "contact", @name = "contact", @type = "number" })
                                            @Html.ValidationMessageFor(model => model.CellNumber)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Residence No</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Residence Number", @id = "residence", @name = "residence", @type = "number" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Blood Group</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.BloodGroup, htmlAttributes: new { @class = "form-control", @placeholder = "Blood Group", @id = "bloodgroup", @name = "bloodgroup" })
                                            @Html.ValidationMessageFor(model => model.BloodGroup)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Occupation</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.Occupation, htmlAttributes: new { @class = "form-control", @placeholder = "Occupation", @id = "occupation", @name = "occupation" })
                                            @Html.ValidationMessageFor(model => model.Occupation)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Citizenship No.</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.CitizenNumber, htmlAttributes: new { @class = "form-control", @placeholder = "Citizenship Number", @id = "citizenshipnumber", @name = "citizenshipnumber" })
                                            @Html.ValidationMessageFor(model => model.CitizenNumber)
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <fieldset>
                                    <legend><b>Permanent Address</b></legend>
                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>State</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PState, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent State", @id = "pstate", @name = "pstate" })
                                                @Html.ValidationMessageFor(model => model.PState)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>District</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PDistrict, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent District", @id = "pdistrict", @name = "pdistrict" })
                                                @Html.ValidationMessageFor(model => model.PDistrict)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Metropolitan</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Metropolitan", @id = "pmetropolitan", @name = "pmetropolitan" })
                                                @Html.ValidationMessageFor(model => model.PMetropolitan)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Sub-metropolitan</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PSubMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Sub-Meteropolitan", @id = "psub-metropolitan", @name = "psub-metropolitan" })
                                                @Html.ValidationMessageFor(model => model.PSubMetropolitan)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Municipality</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PMunicipality, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Municipality", @id = "pmunicipality", @name = "pmunicipality" })
                                                @Html.ValidationMessageFor(model => model.PMunicipality)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Gaupalika</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PGauPalika, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent Gaupalika", @id = "pgaupalika", @name = "pgaupalika" })
                                                @Html.ValidationMessageFor(model => model.PGauPalika)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Ward No.</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.PWardNo, htmlAttributes: new { @class = "form-control", @placeholder = "Permanent WardNo", @id = "pwardno", @name = "pwardno" })
                                                @Html.ValidationMessageFor(model => model.PWardNo)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend><b>Temporary Address</b></legend>
                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>State</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TState, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary State", @id = "pstate", @name = "pstate" })
                                                @Html.ValidationMessageFor(model => model.TState)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>District</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TDistrict, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary District", @id = "pdistrict", @name = "pdistrict" })
                                                @Html.ValidationMessageFor(model => model.TDistrict)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Metropolitan</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Metropolitan", @id = "pmetropolitan", @name = "pmetropolitan" })
                                                @Html.ValidationMessageFor(model => model.TMetropolitan)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Sub-metropolitan</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TSubMetropolitan, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Sub-Meteropolitan", @id = "psub-metropolitan", @name = "psub-metropolitan" })
                                                @Html.ValidationMessageFor(model => model.TSubMetropolitan)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Municipality</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TMunicipality, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Municipality", @id = "pmunicipality", @name = "pmunicipality" })
                                                @Html.ValidationMessageFor(model => model.TMunicipality)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Gaupalika</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TGauPalika, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary Gaupalika", @id = "pgaupalika", @name = "pgaupalika" })
                                                @Html.ValidationMessageFor(model => model.TGauPalika)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 form-group">
                                        <div class="row">
                                            <div class="col-xs-12"><label>Ward No.</label></div>
                                            <div class="col-xs-12">
                                                @Html.TextBoxFor(model => model.TWardNo, htmlAttributes: new { @class = "form-control", @placeholder = "Temporary WardNo", @id = "pwardno", @name = "pwardno" })
                                                @Html.ValidationMessageFor(model => model.TWardNo)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>

