﻿@model SMS.Models.GuardianInfoViewModel.GuardianInfoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/skins/flat/green.css" rel="stylesheet" />

<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Guardian List
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-guardian', 'Create', 'GuardianInfo')" class="btn btn-primary" />
<div class="clearfix"></div>
<div class="table table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th>
                    <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">Name </th>
                <th class="column-title">Permanent Address</th>
                <th class="column-title">Temporary Address</th>
                @*<th class="column-title">BloodGroup </th>
                <th class="column-title">Occupation </th>*@
                <th class="column-title">Gender </th>
                <th class="column-title">EmailId </th>
                <th class="column-title">Contact No. </th>
                <th class="column-title">CitizenshipNo </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.GuardianInfoViewModelList)
            {
                <tr class="even pointer">
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td>@item.FirstName @item.MidName @item.LastName</td>
                    <td>@item.PState @item.PDistrict @item.PMetropolitan @item.PSubMetropolitan @item.PMunicipality @item.PGauPalika @item.PWardNo</td>
                    <td>@item.TState @item.TDistrict @item.TMetropolitan @item.TSubMetropolitan @item.TMunicipality @item.TGauPalika @item.TWardNo</td>
                    @*<td>@item.BloodGroup</td>
                    <td>@item.Occupation</td>*@
                    <td>@item.Gender</td>
                    <td>@item.EmailId</td>
                    <td>@item.CellNumber @item.PhoneNumber</td>
                    <td>@item.CitizenNumber</td>
                    <td>@item.Status</td>
                    <td>
                        <button class="btn btn-primary" onclick="update(@item.GuardianId,'#update-guardian','Edit','GuardianInfo')"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" onclick="deleteRow(@item.GuardianId,'@item.FirstName','Delete','GuardianInfo')"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="add-guardian" tabindex="-1" role="dialog" aria-labelledby="addGuardian">
    @{Html.RenderAction("Create", "GuardianInfo");}
</div>

<div class="modal fade" id="update-guardian" tabindex="-1" role="dialog" aria-labelledby="editGuardian">
    @{Html.RenderAction("Edit", "GuardianInfo");}
</div>
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>



