﻿@model SMS.Models.SetupViewModel.SetupPostViewModel
@{
    Layout = null;
}

<div class="modal-dialog" style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editPost">
                <strong>Update Post</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "SetupPost", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.PostId)

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Service</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.ServiceId, SMS.Utilities.CommonUtilities.GetServiceList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ServiceId)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Post Name<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.PostName, htmlAttributes: new { @class = "form-control", @placeholder = "Post Name", @id = "postname", @name = "postname" })
                            @Html.ValidationMessageFor(model => model.PostName)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Post Order<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.PostOrder, htmlAttributes: new { @class = "form-control", @placeholder = "Post Order", @id = "postorder", @name = "postorder" })
                            @Html.ValidationMessageFor(model => model.PostOrder)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                
                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Status</label></div>
                        <div class="col-xs-12">
                           @Html.CheckBoxFor(model => model.Status)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>



