﻿@model SMS.Models.SetupViewModel.SetupClassViewModel
@{
    Layout = null;
}


<div class="modal-dialog" style="margin-left:35%">
    <div class="modal-content" style="width:500px !important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="add-class">
                <strong> Add New Class</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="row">
                    <input type="hidden" name="count" value="1" />
                    <div class="control-group" id="fields">
                        <label class="control-label col-sm-12" for="field1">Class Name</label>
                        <div class="controls col-sm-6" id="profs">
                            <form class="input-append">
                                <div clas id="field">
                                    <input autocomplete="off" class="input form-control" id="field1" name="ClassName" type="text" placeholder="Type something" data-items="8" />
                                    <button id="b1" class="btn btn-primary add-more" type="button"><i class="fa fa-3 fa-plus-circle"></i></button>
                                </div>
                            </form>
                            <br>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       
                        
                    </div>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var next = 1;
        $(".add-more").click(function (e) {
            e.preventDefault();
            var addto = "#field" + next;
            var addRemove = "#field" + (next);
            next = next + 1;
            var newIn = '<input class="form-control" id="field' + next + '" name="ClassName" type="text">';
            var newInput = $(newIn);
            var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" ><span class="fa fa-minus-circle"></span></button></div><div id="field">';
            var removeButton = $(removeBtn);
            $(addto).after(newInput);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source', $(addto).attr('data-source'));
            $("#count").val(next);

            $('.remove-me').click(function (e) {
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length - 1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
        });
    });

</script>