﻿@model SMS.Models.SetupViewModel.SetupClassViewModel
@{
    Layout = null;
}
<div class="modal-dialog" style="margin-left:35%" >
    <div class="modal-content"style="width:500px !important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="updateclass">
                <strong> Update Class</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "SetupClass", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ClassId)

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                Class Name<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.ClassName, new { @class = "form-control", @placeholder="Class Name"})
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                Status
                            </label>
                            @Html.CheckBoxFor(model=>model.Status)
                        </div>

                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>

