﻿@model SMS.Models.MarkSheetViewModel.MarkSheetViewModel
<div class="modal-dialog"style="margin-left:35%">
    <div class="modal-content"style="width:500px!important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addMarkSheet">
                 Create MarkSheet
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "MarkSheet", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Student Name</label>
                            @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6">
                            <label>Terminal Exam Name</label>
                            @Html.DropDownListFor(model => model.TerminalExamId, SMS.Utilities.CommonUtilities.GetTerminaExamlList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Class Name</label>
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6">
                            <label>Faculty Name</label>
                            @Html.DropDownListFor(model => model.FacultyId, SMS.Utilities.CommonUtilities.GetFacultyList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Section Name</label>
                            @Html.DropDownListFor(model => model.SectionId, SMS.Utilities.CommonUtilities.GetSectionList(), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6">
                            <label>Subje Name</label>
                            @Html.DropDownListFor(model => model.SubjectId, SMS.Utilities.CommonUtilities.GetSubjectList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Obtain Theory Marks</label>
                            @Html.TextBoxFor(model => model.ObtainThroryMarks, new { @class="form-control"})
                        </div>
                        <div class="col-sm-6">
                            <label>Obtain Practical Marks</label>
                            @Html.TextBoxFor(model => model.ObtainPracticalMarks, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Remarks</label>
                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                        </div>
                       
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="form-group">
                       

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>

