﻿
@model SMS.Models.MarkSheetViewModel.MarkSheetViewModel
@{
    ViewBag.Title = "Faculty List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<link href="~/Content/skins/flat/green.css" rel="stylesheet" />
@if (TempData["validationErro"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationErro"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}

@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}
<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Marksheet List
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-marksheet', 'Create', 'MarkSheet')" class="btn btn-primary" />
<div class="clearfix"></div>
<div class="table table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th><input type="checkbox" class="flat" name="table_records"></th>
                <th class="column-title">S.N.</th>
                <th class="column-title">StudentName </th>
                <th class="column-title">TerminalExamName </th>
                <th class="column-title">SubjectName </th>
                <th class="column-title">ObtainTheoryMark </th>
                <th class="column-title">ObtainPracticalMark </th>
               
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.MarkSheetViewModelList)
            {
                <tr class="even pointer">
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td>@i</td>
                    <td>@item.StudentName</td>
                    <td>@item.TerminalExamName</td>
                    <td>@item.SubjectName</td>
                    <td>@item.ObtainThroryMarks</td>
                    <td>@item.ObtainPracticalMarks</td>
                    <td>
                        <button class="btn btn-primary" onclick="update(@item.MarkSheetId,'#update-marksheet','Edit','MarkSheet')"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" onclick="deleteRow(@item.MarkSheetId,'@item.SubjectName','Delete','MarkSheet')"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="add-marksheet" tabindex="-1" role="dialog" aria-labelledby="addMarkSheet">
    @{Html.RenderAction("Create", "MarkSheet");}
</div>

<div class="modal fade" id="update-marksheet" tabindex="-1" role="dialog" aria-labelledby="editMarkSheet">
    @{Html.RenderAction("Edit", "MarkSheet");}
</div>
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>


