﻿@model SMS.Models.SetupViewModel.SetupPaymentForHostelViewModel
@{
    Layout = null;
}

<div class="modal-dialog" style="margin-left:35%;">
    <div class="modal-content" style="width:500px !important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addsetupppaymantforhostel">
                <strong>Update Payment For Hostel</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "SetupPaymentForHostel", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label> Select Class Name</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Select Faculty Name</label></div>
                        <div class="col-xs-12">
                            @Html.DropDownListFor(model => model.FacultyId, SMS.Utilities.CommonUtilities.GetFacultyList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Hostel Name</label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.HostelName, new { @class = "form-control", @placeholder = "Hostel Name" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Hostel Fee</label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.HostelFee, new { @class = "form-control", @placeholder = "Hostel Name" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>
