﻿@model SMS.Models.ReportModelViewModel.StudentReportViewModel

@{
    ViewBag.Title = "Marksheet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<div class="container">


    <div class="col-xs-12 form-group">
        <div class="row">
            <div class="col-xs-12"><label>Student Name</label></div>
            <div class="col-xs-12">
                @Html.DropDownListFor(model => model.ObjStudentInfoViewModel.StudentId,SMS.Utilities.CommonUtilities.GetStudentList(),"-- Select Student --", new { @class = "form-control", @id = "studentId", @onChange = "getStudentDeailsById()" })
                @Html.ValidationMessageFor(model => model.ObjStudentInfoViewModel.StudentId)
            </div>
        </div>



        <div class="main-content">
            <div class='row r-below-header'>
                <div class='col-md-8 col-sm-12'>
                    <div class="r-page-title">
                        <center><strong>MARKSHEET</strong></center>
                    </div>
                </div>
            </div>


            <div class="modal-body">

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Name:</label><span id="fullName"></span></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Roll No:</label><span id="rollNo"></span></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Course:</label><span id="facultyName"></span></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Shift:</label><span id="shift"></span></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Level:</label><span id="className"></span></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Section:</label><span id="sectionName"></span></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Exam Type:</label><span id="examtype"></span></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Academic Year:</label><span id="academicyear"></span></div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="table table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Subject </th>
                                <th class="column-title">Full Marks </th>
                                <th class="column-title">Pass Marks </th>
                                <th class="column-title">Marks Obtained </th>
                                <th class="column-title">Highest Marks</th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                                    @foreach (var item in Model.StudentReportViewModelList)
                            {
                                        <tr class="even pointer">
                                            <td>@item.Subject</td>
                                            <td>@item.FullMarks</td>
                                            <td>@item.PassMarks</td>
                                            @*<td>@item.ObtainedMarks</td>*@
                                            <td></td>
                                            <td></td>
                                        </tr>
                                       
                                    }

                                </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>


<script>

    var getStudentDeailsById = function () {

        $.ajax({
            url: '@Url.Action("GetStudentDetailsByStudentId", "CommonAjaxRequest")',
            type: 'GET',
            data: {
                id: $('#studentId').val(),
            },
            success: function (result) {
                console.log(result);
                $('#fullName').text(result.StudentName);
                $('#rollNo').text(result.RollNo);
                $('#facultyName').text(result.Course);
                $('#className').text(result.Level);
                $('#sectionName').text(result.Section);
            },
            error: function () {
            }
        });
    };
</script>






