﻿
@model SMS.Models.SetupViewModel.SetupTerminalExamViewModel
<div class="modal-dialog"style="margin-left:35%">
    <div class="modal-content"style="width:500px!important">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="addTerminalExam">
                Add Terminal Exam
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "SetupTerminalExam", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>
                                Terminal Exam Name<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.Name, new { @class="form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Remarks</label>
                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>