﻿@model SMS.Models.AccountSectionViewModel.StudentFeeDetailsViewModel
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var objJson = serializer.Serialize(Model);

}


@*@using (Html.BeginForm("ClassPayment", "StudentFeeDetails"))
    {*@

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">

            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="clearfix"></div>
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Class Payment</label></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Class</label></div>
                                    <div class="col-xs-12">
                                        @Html.DropDownListFor(model => model.PaymentForClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control", @id = "paymentForClassId" })
                                        @Html.ValidationMessageFor(model => model.ClassId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Class Fee</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.Payment, htmlAttributes: new { @class = "form-control", @placeholder = "Class Fee", @id = "classfee", @name = "classfee" })
                                        @Html.ValidationMessageFor(model => model.Payment)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Paid By</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PaidBy, htmlAttributes: new { @class = "form-control", @placeholder = "Paid By", @id = "paidby", @name = "paidby" })
                                        @Html.ValidationMessageFor(model => model.PaidBy)
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Payment</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.Payment, htmlAttributes: new { @class = "form-control", @placeholder = "Payment", @id = "payment", @name = "payment" })
                                        @Html.ValidationMessageFor(model => model.Payment)
                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Relation</label></div>
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(model => model.Relation, htmlAttributes: new { @class = "form-control", @placeholder = "Relation", @id = "relation", @name = "relation" })
                                        @Html.ValidationMessageFor(model => model.Relation)
                                    </div>
                                </div>
                            </div>
                            @*<div class="tab-pane active" role="tabpanel" id="step1">
                                    <button type="submit" class="btn btn-primary" id="btlPayForClass" onclick="postData()">Payment for Class</button>
                                </div>*@
                            <button type="button" class="btn btn-primary" id="btlPayForClass" onclick="postData()">Payment for Class</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*}*@

<script>

    var postData = function () {

        //var $form = $('form');
        //alert($form.valid());
        //if ($form.valid()) {
        //  return ;
        //}

        $.ajax({
            url: '@Url.Action("ClassPayment", "StudentFeeDetails")',
            type: 'POST',
            data: '{StudentId: "' + $("#studentId").val() + '",Payment: "' + $("#payment").val() + '",PaidBy:"' + $("#paidby").val() + '",Relation:"' + $("#relation").val() + '",PaymentForClassId:"' + $("#paymentForClassId").val() + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                search($('#faultyNameId').val(), '#faultList', '_GetFacultyList', 'SetupFaculty');
            },
            error: function () {
            }
        });
    };

</script>