﻿@model SMS.Models.AccountSectionViewModel.StudentFeeDetailsViewModel

<div class="modal-dialog" style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="updateStudentFeeDetails">
                Update Student Fee Details
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "StudentFeeDetails", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.StudentFeeDetailsId)

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Student Name
                            </label>
                            @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control" })
                        </div>

                        <div class="col-sm-6">
                            <label>
                                Class
                            </label>
                            @Html.DropDownListFor(model => model.ClassId, SMS.Utilities.CommonUtilities.GetClassList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Library Name
                            </label>
                            @Html.DropDownListFor(model => model.PaymentForLibraryId, SMS.Utilities.CommonUtilities.GetLibraryList(), new { @class = "form-control" })
                        </div>

                        <div class="col-sm-6">
                            <label>
                                Hostel Name
                            </label>
                            @Html.DropDownListFor(model => model.PaymentForHostelId, SMS.Utilities.CommonUtilities.GetHostelList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Activities Name
                            </label>
                            @Html.DropDownListFor(model => model.PaymentForActivitiesId, SMS.Utilities.CommonUtilities.GetActivitiesList(), new { @class = "form-control" })
                        </div>

                        <div class="col-sm-6">
                            <label>
                                Paid By<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.PaidBy, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Payment<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.Payment, new { @class = "form-control" })
                        </div>

                        <div class="col-sm-6">
                            <label>
                                Relation<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.Relation, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Received By<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.ReceivedBy, new { @class = "form-control" })
                        </div>

                        <div class="col-sm-6">
                            <label>
                                Received Date<span style="color:red">*</span>
                            </label>
                            @Html.TextBoxFor(model => model.ReceivedDate, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>
                                Status
                            </label>
                            @Html.CheckBoxFor(model => model.Status)
                        </div>

                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>


