﻿@model SMS.Models.AccountSectionViewModel.StudentFeeDetailsViewModel


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">

            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="clearfix"></div>
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <div class="row">
                                    <div class="col-xs-12"><label>Hostel Payment</label></div>
                                </div>
                            </div>
                        </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Hostel Name</label></div>
                                        <div class="col-xs-12">
                                            @Html.DropDownListFor(model => model.PaymentForHostelId, SMS.Utilities.CommonUtilities.GetHostelList(), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PaymentForHostelId)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Hostel Fee</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.ObjSetupPaymentForHostelViewModel.HostelFee, htmlAttributes: new { @class = "form-control", @placeholder = "Hostel Fee", @id = "hostelfee", @name = "hostelfee" })
                                            @Html.ValidationMessageFor(model => model.ObjSetupPaymentForHostelViewModel.HostelFee)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Paid By</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.PaidBy, htmlAttributes: new { @class = "form-control", @placeholder = "Paid By", @id = "paidby", @name = "paidby" })
                                            @Html.ValidationMessageFor(model => model.PaidBy)
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Payment</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.Payment, htmlAttributes: new { @class = "form-control", @placeholder = "Payment", @id = "payment", @name = "payment" })
                                            @Html.ValidationMessageFor(model => model.Payment)
                                        </div>
                                    </div>
                                </div>



                                <div class="col-xs-12 col-sm-4 form-group">
                                    <div class="row">
                                        <div class="col-xs-12"><label>Relation</label></div>
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.Relation, htmlAttributes: new { @class = "form-control", @placeholder = "Relation", @id = "relation", @name = "relation" })
                                            @Html.ValidationMessageFor(model => model.Relation)
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>





