﻿@model SMS.Models.AccountSectionViewModel.StudentFeeDetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<link href="~/Content/css/multipleDropDownlist.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.0.min.js"></script>
<script src="~/Scripts/multipleDropDownList.js"></script>

<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Student Fee Details List
                </h1>
            </div>
        </div>
    </div>
</div>

@*<input type="button" value="Add New" onclick="addNew('#add-payment', 'StudentPaymentDetails', 'StudentFeeDetails')" class="btn btn-primary" />*@
<div class="clearfix"></div>

@*<table class="table table-responsive table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th><input type="checkbox" class="flat" name="table_records"></th>
                <th class="column-title"> S.N. </th>
                <th class="column-title"> StudentName</th>
                <th class="column-title"> Class</th>
                <th class="column-title"> LibraryName</th>
                <th class="column-title"> HostelName</th>
                <th class="column-title"> ActivitiesName</th>
                <th class="column-title"> PaidBy</th>
                <th class="column-title">Payment</th>
                <th class="column-title">Relation</th>
                <th class="column-title">ReceivesdBy</th>
                <th class="column-title">ReceivedDate</th>
                <th class="column-title">Status</th>
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.StudentFeeDetailsViewModelList)
                {
                <tr class="even pointer">
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td>@i</td>
                    <td>@item.StudentName</td>
                    <td>@item.Class</td>
                    <td>@item.Library</td>
                    <td>@item.Hostel</td>
                    <td>@item.Activities</td>
                    <td>@item.PaidBy</td>
                    <td>@item.Payment</td>
                    <td>@item.Relation</td>
                    <td>@item.ReceivedBy</td>
                    <td>@item.ReceivedDate</td>
                    <td>@item.Status</td>
                    <td>
                        <button class="btn btn-primary" onclick="update(@item.StudentFeeDetailsId,'#update-payment','Edit','StudentFeeDetails')"><span class="fa fa-edit"></span></button>

                        <button class="btn btn-danger" onclick="deleteRow(@item.StudentFeeDetailsId,'@item.StudentFeeDetailsId','Delete','StudentFeeDetails')"><span class="fa fa-trash"></span></button>

                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>*@

@{Html.RenderAction("StudentPaymentDetails", "StudentFeeDetails");}

