﻿@model SMS.Models.AccountSectionViewModel.StudentFeeDetailsViewModel
@{

    Layout = null;// = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">

    <div class="col-xs-12 form-group">
        <div class="row">
            <div class="col-xs-12"><label>Student Name</label></div>
            <div class="col-xs-12">
                @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control", @id = "studentId", @onChange = "getStudentDeailsById()" })
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>
        <div><span>Name</span>:<strong id="fullName"></strong></div>
        <div><span>Class</span>:<strong id="class"></strong></div>
        <div><span>Section</span>:<strong id="sectionName"></strong></div>
        <div><span>StudentCode</span>:<strong id="studentCode"></strong></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-pane active" id="tab3">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Student Id</b>
                            <input class="form-control" type="text" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn pull-right"><i class="glyphicon glyphicon-search icon-white"></i> Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Name:</b>  Ram Krishna
                        </div>
                        <div class="col-sm-3">
                            <b>Class/Sec:</b>  5/B
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="shop-item-selections">
                                        <tbody>
                                            <tr>
                                                <td>Previous Due</td>
                                                <!-- <td>Rs 967</td> -->
                                            </tr>
                                            <tr>
                                                <td>Monthly Fee:</td>
                                                <td>Rs 450, Kartik</td>
                                            </tr>
                                            <tr>
                                                <td>Tution Fee:</td>
                                                <td>Rs 450, Kartik</td>
                                            </tr>
                                            <tr>
                                                <td>Transportation Fee:</td>
                                                <td>Rs 450, Bhadra,Mansir,poush,Asoj,Kartik</td>
                                            </tr>
                                            <tr>
                                                <td>ECA Fee:</td>
                                                <td>Rs 450, Kartik</td>
                                            </tr>
                                            <tr>
                                                <td>Fine:</td>
                                                <td>Rs 150</td>
                                            </tr>
                                            <tr>
                                                <td>Total:</td>
                                                <td>Rs 1950</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-7">
                                    <table class="shop-item-selections">
                                        <tbody>
                                            <tr>
                                                <td>This Month: Mangsir</td>
                                            </tr>
                                            <tr>
                                                <td>Monthly Fee:</td>
                                                <td>Rs 450</td>
                                            </tr>
                                            <tr>
                                                <td>Tution Fee:</td>
                                                <td>Rs 450</td>
                                            </tr>
                                            <tr>
                                                <td>Transportation Fee:</td>
                                                <td>Rs 90</td>
                                            </tr>
                                            <tr>
                                                <td>ECA Fee:</td>
                                                <td>Rs 450</td>
                                            </tr>
                                            <tr>
                                                <td>Fine:</td>
                                                <td>Rs 45</td>
                                            </tr>
                                            <tr>
                                                <td>Total:</td>
                                                <td>Rs 1485</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-4">
                            <div class="row">
                                <h3>Payment</h3>
                                Additional Fee
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <select class="form-control input-sm">
                                        <option value="1">others</option>
                                        <option value="2">others</option>
                                        <option value="3">others</option>
                                        <option value="4">others</option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="row">
                                <b>Total:</b> Rs 14525
                            </div><br>
                            <div class="row">
                                <table class="shop-item-selections">
                                    <tbody>
                                        <tr>
                                            <td>Recieved From:</td>
                                            <td>Rs:<input class="custom input-sm"></td>
                                        </tr>
                                        <tr>
                                            <td>Recieved Amount:</td>
                                            <td>Rs:<input class="custom input-sm"></td>
                                        </tr>
                                        <tr>
                                            <td>Discount Amount:</td>
                                            <td>Rs:<input class="custom input-sm"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <a href="abill.php"><button type="submit" class="btn pull-right"><i class="glyphicon glyphicon-check icon-white"></i> Pay</button></a>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>

                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Class Payment">
                                <span class="round-tab">

                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Library Payment">
                                <span class="round-tab">

                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Hostel Payment">
                                <span class="round-tab">

                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            @*disabled*@
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content">


                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="initform">
                                @{Html.RenderAction("ClassPayment", "StudentFeeDetails");}
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="complete">
                            Complete
                        </div>
                    </div>
                </form>

            </div>
        </section>
    </div>
</div>
<script>
    $("#studentId").select2();

    var getStudentDeailsById = function () {

        $.ajax({
            url: '@Url.Action("GetStudentDetailsByStudentId", "CommonAjaxRequest")',
            type: 'GET',
            data: {
                id: $('#studentId').val(),
            },
            success: function (result) {
                console.log(result);
                $('#fullName').text(result.FullName);
                $('#class').text(result.ClassName);
                $('#sectionName').text(result.SectionName);
                $('#studentCode').text(result.StudentCode);
            },
            error: function () {
            }
        });
    };
</script>


