﻿@model SMS.Models.StudentInfoViewModel.StudentSubjectDetailsViewModel
<div class="modal-dialog" style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="add-studentSubjectDetails">
              <strong>Add Student Subject Details</strong>  
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Create", "StudentSubjectDetails", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                Select Student<span style="color:red">*</span>
                            </label>
                            @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @foreach (var item in Model.SetupSubjectViewModelList)
                                    {
                                        <span>
                                            <input type="checkbox" name="subjectList" value="@item.SubjectId" />
                                            <label>
                                                @item.SubjectName
                                            </label>
                                        </span>
                                    }
                                </div>
                           </div>
                          </div>
                   
               



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>