﻿
@model SMS.Models.StudentInfoViewModel.StudentSubjectDetailsViewModel
@{
    var IsChecked = "";
}

<div class="modal-dialog" style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="editSubjectdetails">
                <strong>Update Student Subject Details</strong>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "StudentSubjectDetails", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                Select Student<span style="color:red">*</span>
                            </label>
                            @Html.DropDownListFor(model => model.StudentId, SMS.Utilities.CommonUtilities.GetStudentList(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @foreach (var item in Model.StudentSubjectDetailsViewModelList)
                            {

                                if (item.IsChecked == true)
                                {
                                    IsChecked = "checked";
                                }
                                else
                                {
                                    IsChecked = "";
                                }

                                <span>
                                    <input type="checkbox" name="subjectList" value="@item.SubjectId" checked="@IsChecked" />
                                    <label>
                                        @item.SubjectName
                                    </label>
                                </span>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">

                            @Html.CheckBoxFor(model => model.Status)
                            <label>
                                Status
                            </label>
                        </div>
                    </div>
                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Update" />
                            </div>
            }
        </div>
    </div>
</div>

