﻿@model SMS.Models.SetupViewModel.SetupBlockViewModel
    @{ 
        Layout = null;
    }
<div class="modal-dialog"  style="width:500px !important ; margin-left: auto">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="updateblock">
               <strong>Update Block</strong> 
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "SetupBlock", FormMethod.Post))
            {    @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                 @Html.HiddenFor(model=>model.BlockId)

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Block Name<span style="color:red">*</span></label></div>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.BlockName, htmlAttributes: new { @class = "form-control", @placeholder = "Block Name", @id = "blockname", @name = "blockname" })
                            @Html.ValidationMessageFor(model => model.BlockName)
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
               

                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="row">
                        <div class="col-xs-12"><label>Status</label></div>
                        <div class="col-xs-12">
                            @Html.CheckBoxFor(model => model.Status)
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            }
        </div>
    </div>
</div>


