﻿@model SMS.Models.SetupViewModel.SetupBlockViewModel

@{
    ViewBag.Title = "Block List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<script src="~/Scripts/jquery-2.1.0.min.js"></script>


@if (TempData["validationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["validationError"]
    </div>
}

@if (TempData["AlreadyExits"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlreadyExits"]
    </div>
}
@if (TempData["savefailed"] != null)
{
    <div class="alert alert-danger">
        @TempData["savefailed"]
    </div>
}

@if (TempData["save"] != null)
{
    <div class="alert alert-success">
        @TempData["save"]
    </div>
}

<div class="main-content">
    <div class='row r-below-header'>
        <div class='col-md-8 col-sm-12'>
            <div class="r-page-title">
                <h1>
                    Setup Block
                </h1>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Add New" onclick="addNew('#add-block','Create','SetupBlock')" class="btn btn-primary" />
<div class="clearfix"></div>
<div class="table table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">

                <th class="column-title">S.N </th>
                <th class="column-title">Block Name </th>
                <th class="column-title">Status </th>
                <th class="column-title no-link last">
                    <span class="nobr"  style="width:110px">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SetupBlockViewModelList)
            {

                <tr class="even pointer">
                    <td>@i</td>
                    <td>@item.BlockName</td>
                    <td>@item.Status</td>
                    <td  style="width:110px">
                        <button class="btn btn-primary" onclick="update(@item.BlockId,'#update-block','Edit','SetupBlock')"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" onclick="deleteRow(@item.BlockId,'@item.BlockName','Delete','SetupBlock')"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="add-block" tabindex="-1" role="dialog" aria-labelledby="addblock">
    @{Html.RenderAction("Create", "SetupBlock");}
</div> 

<div class="modal fade" id="update-block" tabindex="-1" role="dialog" aria-labelledby="updateblock">
    @{Html.RenderAction("Edit", "SetupBlock");}
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest");}
</div>


<script>

    $(function () {
        $('form').submit(function (event) {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#result').html(result);
                    },
                    error: function (result) {
                        console.log(result);
                    }

                });
            }

        });
        event.preventDefault();
    });
    //$(document).on("submit", "form", function (event) {
    //    var form = $(this);
    //    if (form.valid()) {
    //        $.ajax({
    //            url: form.action, // Not available to 'form' variable
    //            type: form.method,  // Not available to 'form' variable
    //            data: form.serialize(),
    //            success: function (html) {
    //                // Do something with the returned html.
    //            },
    //            error: function (ex) {
    //                $(htmlInnerId).html(ex);
    //            }
    //        });
    //    }
    //    event.preventDefault();
    //});
</script>




